<div class="opaco">
	<div class="alta" ng-controller="altaCtrl">
		<header class="headerAlta">
		  <h2>Nueva pelicula</h2>
		</header>
		<section class="sectionAlta">
			<form id="myForm" method="post" action="/alta">
				<div class="input">
					<div class="inputLeft">
						Titulo: <input type="text" name="title">
					</div>
					<div class="inputRight">
						Fecha de estreno: <input type="date" name="date">
					</div>
				</div>
				<div class="input">
					<div class="inputLeft">
						categoria: 
						<select name="genre">
							<option ng-repeat="genre in genres" value="{{ genre }}">{{ genre }}</option>
						</select>
					</div>
					<div class="inputRight">
						puntaje: <input type="range" min="0" max="5" value="0" name="score">
					</div>
				</div>
				<div class="input">
					Descripcion: <br>
					<textarea name="description" rows="5" cols="50"></textarea>
				</div>
				<button type="submit" value="submit">ok</button>
				<button type="reset" value="reset">cancel</button>
			</form>
		</section>
	</div>
</div>