<section class="sectionEstrenos" ng-controller="estrenosCtrl">
  <div class="buscador">
    <div class="selector">
      <div ng-click="sendRequest('movies?Func=filter&Filter=all')">Todas</div>
      <div ng-click="sendRequest('movies?Func=filter&Filter=popular')">Populares</div>
      <div ng-click="sendRequest('movies?Func=filter&Filter=recent')">Recientes</div>
    </div>
    <div class="filtro">
      <form id="estrenosForm">
        <button type="button" ng-click="searchMov()">search</button>
        <input type="text" ng-model="search" value="title, actor or description">
        <select name="type"  ng-click="searchByGenre()">
          <option ng-repeat="genre in genres" value="{{ genre }}">{{ genre }}</option>
        </select>
      </form>
    </div>
  </div>
  <div class="portadas">
    <div ng-repeat="peli in pelis">
      <img ng-src="{{ peli.Poster }}" width="100%">
      <a href="#/ficha/{{ peli.imdbID }}">{{ peli.Title }}</a>
    </div>
  </div>
</section>