<section class="sectionEstrenos">
  <div class="buscador">
    <div class="selector">
      <div>Todas</div>
      <div>Populares</div>
      <div>Recientes</div>
    </div>
    <div class="filtro">
      <form>
        <input type="text" value="title, actor or description">
        <select name="type">
          <option value="horror">horror</option>
          <option value="comedy">comedy</option>
          <option value="drama">drama</option>
        </select>
      </form>
    </div>
  </div>
  <div class="portadas" ng-controller="estrenosCtrl">
    <div ng-repeat="estreno in estrenos">
      <img ng-src="{{ estreno.Poster }}" width="100%">
      <p>{{ estreno.Title }}</p>
    </div>
    <!--<div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>
    <div><img src="1.portada.png" width="100%"><p>Nombre
      Genero
      Descripcion</p></div>-->
  </div>
</section>