<section class="sectionEstrenos" ng-controller="estrenosCtrl">
  <div class="buscador">
    <div class="selector">
      <div ng-click="sendRequest('movies?Func=filter&Filter=all')">Todas</div>
      <div ng-click="sendRequest('movies?Func=filter&Filter=popular')">Populares</div>
      <div ng-click="sendRequest('movies?Func=filter&Filter=recent')">Recientes</div>
    </div>
    <div class="filtro">
      <form id="estrenosForm">
        <button type="button" ng-click="searchMov()">search</button>
        <input type="text" ng-model="search" value="title, actor or description">
        <select name="type"  ng-click="searchByGenre()">
          <option value="History">History</option>
          <option value="Action">Action</option>
          <option value="Drama">Drama</option>
          <option value="Biography">Biography</option>
          <option value="Animation">Animation</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="War">War</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Romance">Romance</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Crime">Crime</option>
        </select>
      </form>
    </div>
  </div>
  <div class="portadas">
    <div ng-repeat="peli in pelis">
      <img ng-src="{{ peli.Poster }}" width="100%">
      <p ng-click="searchByID(peli.imdbID)"><a href="#/ficha">{{ peli.Title }}</a></p>
    </div>
  </div>
</section>