<section class="sectionFicha" ng-controller="estrenosCtrl">
  <div>
    <div class="info">
      <h1 class="titleMov">{{ ficha.Title }}</h1>
      <div class="descripcion">
        <img ng-src="{{ ficha.Poster }}" width="25%">
        <p>{{ ficha.Plot }}</p>
      </div>
      <div class="trailer">
        <video class="video" width="320" height="180" controls>
  		<source src="" type"video/mp4">
  		your browser does not support this video
  	</video>
      </div>
    </div>
    <div class="cover">
      <img ng-src="{{ ficha.Poster }}" width="70%" class="portada">
    </div>
  </div>
</section>