<section>
  <div class="info">
    <h1>Titulo de pelicula</h1>
    <div class="descripcion">
      <img src="http://image.tmdb.org/t/p/original/qWxRAyAYEwdmn2Qp9efAo4CoPMn.jpg" width="25%">
      <p>John McClane, officer of the NYPD, tries to save his wife Holly Gennaro and several others that were taken hostage by German terrorist Hans Gruber during a Christmas party at the Nakatomi Plaza in Los Angeles.</p>
    </div>
    <div class="trailer">
      <video width="320" height="180" controls>
		<source src="electric_bulb_hd_stock_video.mp4" type"video/mp4">
		your browser does not support this video
	</video>
    </div>
  </div>
  <div class="cover">
    <img src="http://image.tmdb.org/t/p/original/qWxRAyAYEwdmn2Qp9efAo4CoPMn.jpg" width="70%" class="portada">
  </div>
</section>