<section class="sectionPortada">
	<p>section</p>
	<div ng-repeat="peli in pelis">
		<img ng-src="{{ peli.Poster }}" width="100%">
		<a href="#/ficha/{{ peli.imdbID }}">{{ peli.Title }}</a>
	</div>
	<div class="banners">banners</div>
	<div class="clear"></div>
	<p class="paragraph">El propósito del bootcamp es obtener conocimiento en todo el proceso de desarrollo de una aplicación web, desde el maquetado (html y css) hasta el comportamiento (js) y que pasa en el servidor (en nuestro caso Node), para lograr esto, nuestro objetivo es desarrollar un portal similar a IMDB, que muestre estrenos de cine.</p>
</section>