<section>
  <p>section</p>
  <div class="cover1">cover1</div>
  <div class="cover2">cover2</div>
  <div class="cover3">cover3</div>
  <div class="banners">banners</div>
  <div class="clear"></div>
  	<p class="paragraph">El propósito del bootcamp es obtener conocimiento en todo el proceso de desarrollo de una aplicación web, desde el maquetado (html y css) hasta el comportamiento (js) y que pasa en el servidor (en nuestro caso Node), para lograr esto, nuestro objetivo es desarrollar un portal similar a IMDB, que muestre estrenos de cine.</p>
</section>