* {
  text-align: center;
}
p {
  text-align: justify;
}
header {
  background-color: lightblue;
  height: 100px;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: auto;
  display: inline-block;
}
header div {
  display: inline-block;
  background-color: pink;
  padding: 2px;
  /*border: 1px solid black;*/
  margin: auto;
  float: left;
}
header div:hover {
  background-color: grey;
}
.headerNav {
  width: 230px;
  /*border: 1px solid black;*/
  margin: 44px 100px;
}
section {
  background-color: white;
  height: 500px;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: auto;
  display: inline-block;
}
section div {
  float: left;
  background-color: lightblue;
  height: 250px;
  width: 150px;
  padding: 0px;
  border: 1px solid black;
  margin: 50px 35px;
}
.banners {
  height: 300px;
  margin-bottom: 0;
}
.clear {
  display: none;
}
.paragraph {
  clear: left;
}
footer {
  background-color: blue;
  height: 150px;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: auto;
  display: inline-block;
}
footer div {
  border: 1px solid black;
  float: left;
  height: 100px;
  width: 200px;
  padding: 0px;
  margin: 30px;
  color: white;
}
.footerNav {
  border: 0px;
  text-align: left;
}
.alta {
  background-color: lightgreen;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: fixed;
  z-index: 1;
}
.opaco {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.input {
  display: block;
  float: left;
  margin: 10px 0px;
  height: 120px;
  width: 100%;
  border: none;
  background-color: lightgreen;
}
.headerAlta {
  background-color: lightblue;
  float: left;
  width: 100%;
  height: 50px;
}
.sectionAlta {
  background-color: lightgreen;
}
.inputLeft {
  margin: 30px 20px;
  height: 50%;
  width: 43%;
  float: left;
  border: none;
  background-color: lightgreen;
}
.inputRight {
  margin: 30px 20px;
  height: 50%;
  width: 43%;
  float: right;
  border: none;
  background-color: lightgreen;
}
button {
  float: right;
  margin: 0px 20px;
}